@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes reveal {
  0% {
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.reveal {
  animation: reveal 1s cubic-bezier(0.7, 0, 0.3, 1) both;
}

@keyframes fade {
  0% {
    transform: scale(0.85, 0.85);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
.fade {
  animation: fade cubic-bezier(0.075, 0.82, 0.165, 1) 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn ease 0.4s;
}

.animated {
  opacity: 0;
}

* {
  box-sizing: border-box !important;
  transition: all 0.1s ease-in 0s !important;
}
*::-moz-selection {
  background-color: rgb(229, 229, 229) !important;
}
*::selection {
  background-color: rgb(229, 229, 229) !important;
}

html {
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.15;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
html [type=button] {
  -webkit-appearance: button;
  background: transparent;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

article {
  display: block;
}

aside {
  display: block;
}

footer {
  display: block;
}

header {
  display: block;
}

nav {
  display: block;
}

section {
  display: block;
}

figcaption {
  display: block;
}

figure {
  display: block;
  margin: 1em 40px;
}

main {
  display: block;
}

hr {
  border-style: solid;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: rgba(10, 26, 78, 0);
  text-rendering: geometricPrecision;
  color: #444444;
  margin: 0;
  text-decoration: none;
}
a:active {
  outline-width: 0;
}
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b {
  font-weight: inherit;
  font-weight: bolder;
}

strong {
  font-weight: inherit;
  font-weight: bolder;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

kbd {
  font-family: monospace, monospace;
  font-size: 1em;
}

samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

audio {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}

video {
  display: inline-block;
}

img {
  border-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

svg:not(:root) {
  overflow: hidden;
}

blockquote {
  border-left: 2px solid #444444;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  padding: 20px;
  padding-left: 40px;
  margin: 40px 0;
  background-color: rgba(10, 26, 78, 0.05);
}

button {
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  background: transparent;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(10, 26, 78, 0);
}
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input {
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(10, 26, 78, 0);
}

optgroup {
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

select {
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
  -webkit-tap-highlight-color: rgba(10, 26, 78, 0);
  padding: 15px 25px !important;
  border: 1px solid rgba(10, 26, 78, 0.2);
  color: #444444;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 5px;
  cursor: pointer;
}
select:hover {
  background-color: rgba(10, 26, 78, 0.05);
  border: 1px solid rgba(10, 26, 78, 0.3);
}
select:focus {
  background-color: rgba(10, 26, 78, 0.05);
  border: 1px solid rgba(10, 26, 78, 0.3);
}
select:active {
  background-color: rgba(10, 26, 78, 0.05);
  border: 1px solid rgba(10, 26, 78, 0.3);
}

textarea {
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: auto;
  -webkit-tap-highlight-color: rgba(10, 26, 78, 0);
}

[type=reset] {
  -webkit-appearance: button;
  background: transparent;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
}
[type=reset]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=reset]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=submit] {
  -webkit-appearance: button;
  background: transparent;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
}
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=button]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button {
  height: auto;
}
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

label {
  -webkit-tap-highlight-color: rgba(10, 26, 78, 0);
}

h1 {
  text-rendering: geometricPrecision;
  font-variant-numeric: lining-nums;
  color: #222222;
  margin: 0;
  font-family: "Space Grotesk";
  letter-spacing: -0.6px;
  font-size: 50px;
  line-height: 75px;
  font-weight: bold;
}

h2 {
  text-rendering: geometricPrecision;
  font-variant-numeric: lining-nums;
  color: #222222;
  margin: 0;
  font-size: 40px;
  line-height: 65px;
  font-weight: bold;
  font-family: "Space Grotesk";
  letter-spacing: -0.6px;
}

h3 {
  text-rendering: geometricPrecision;
  font-variant-numeric: lining-nums;
  color: #222222;
  margin: 0;
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  font-family: "Space Grotesk";
  letter-spacing: -0.6px;
}

h4 {
  text-rendering: geometricPrecision;
  font-variant-numeric: lining-nums;
  color: #222222;
  margin: 0;
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
  font-family: "Space Grotesk";
  letter-spacing: -0.6px;
}

h5 {
  text-rendering: geometricPrecision;
  font-variant-numeric: lining-nums;
  color: #222222;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  font-family: "Space Grotesk";
  letter-spacing: -0.6px;
}

h6 {
  text-rendering: geometricPrecision;
  font-variant-numeric: lining-nums;
  color: #222222;
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  font-weight: bold;
  font-family: "Space Grotesk";
  letter-spacing: -0.6px;
}

.lined-title {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  border-bottom: 1px solid rgba(10, 26, 78, 0.1);
  padding-bottom: 5px;
}

.lined-heading {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(10, 26, 78, 0.1);
}

.section-grid {
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: max-content;
}

p,
body {
  text-rendering: geometricPrecision;
  color: #444444;
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 500;
}

li {
  text-rendering: geometricPrecision;
  color: #444444;
  margin: 0;
  font-size: 16px;
  line-height: 35px;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 500;
}

span {
  text-rendering: geometricPrecision;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1360px;
  padding: 0px 30px;
}

.spaced-text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.3em;
}

.btn-chevron {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 10px;
  align-items: center;
  padding: 15px 0;
  display: grid;
}
.btn-chevron span {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #444444;
}
.btn-chevron svg path {
  fill: #444444;
}
.btn-chevron svg,
.btn-chevron img {
  height: 11px;
}
.btn-chevron:hover {
  grid-gap: 15px;
}

.btn-back {
  padding: 10px 15px;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid rgba(10, 26, 78, 0.1);
  border-radius: 5px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 10px;
  align-items: center;
}
.btn-back span {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #444444;
}
.btn-back svg path {
  fill: #444444;
}
.btn-back svg,
.btn-back img {
  height: 11px;
}
.btn-back:hover {
  background: rgba(10, 26, 78, 0.05);
  border: 1px solid rgba(10, 26, 78, 0.2);
}

input:not([type=checkbox]):not([type=radio]),
textarea {
  padding: 15px 25px !important;
  border: 1px solid rgba(10, 26, 78, 0.2);
  border-radius: 5px !important;
  color: #444444;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  outline: 0;
  -webkit-appearance: none;
}
input:not([type=checkbox]):not([type=radio])::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 0;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: none;
  font-size: 16px;
  line-height: 16px;
  -moz-user-select: none;
       user-select: none;
}
input:not([type=checkbox]):not([type=radio])::placeholder,
textarea::placeholder {
  opacity: 0;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: none;
  font-size: 16px;
  line-height: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
input:not([type=checkbox]):not([type=radio]):hover,
textarea:hover {
  background-color: rgba(10, 26, 78, 0.05);
  border: 1px solid rgba(10, 26, 78, 0.3);
}
input:not([type=checkbox]):not([type=radio]):focus,
textarea:focus {
  background-color: rgba(10, 26, 78, 0.05);
  border: 1px solid rgba(10, 26, 78, 0.3);
}
input:not([type=checkbox]):not([type=radio]):active,
textarea:active {
  background-color: rgba(10, 26, 78, 0.05);
  border: 1px solid rgba(10, 26, 78, 0.3);
}

input[type=submit],
a.button,
button.button {
  background-color: #222222 !important;
  color: white !important;
  padding: 15px 25px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 16px !important;
  letter-spacing: 0 !important;
  outline: 0 !important;
  border: 1px solid #222222 !important;
  border-radius: 5px !important;
  cursor: pointer;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -o-user-select: none !important;
  user-select: none !important;
}
input[type=submit]:hover,
a.button:hover,
button.button:hover {
  background-color: #111111 !important;
  border: 1px solid #111111 !important;
}
input[type=submit]:focus,
a.button:focus,
button.button:focus {
  background-color: #111111 !important;
  border: 1px solid #111111 !important;
}
input[type=submit].w-icon,
a.button.w-icon,
button.button.w-icon {
  display: grid !important;
  grid-auto-flow: column !important;
  grid-template-columns: auto 1fr !important;
  grid-gap: 15px !important;
  width: -moz-max-content !important;
  width: max-content !important;
  align-items: center !important;
  border: 1px solid #222222 !important;
}
input[type=submit].w-icon svg,
input[type=submit].w-icon img,
a.button.w-icon svg,
a.button.w-icon img,
button.button.w-icon svg,
button.button.w-icon img {
  height: 16px !important;
}
input[type=submit].w-icon span,
a.button.w-icon span,
button.button.w-icon span {
  color: #ffffff !important;
}
input[type=submit].w-icon svg path,
a.button.w-icon svg path,
button.button.w-icon svg path {
  fill: #ffffff !important;
}
input[type=submit] span,
a.button span,
button.button span {
  color: white !important;
}
input[type=submit].outline,
a.button.outline,
button.button.outline {
  background: transparent !important;
  border: 1px solid rgba(10, 26, 78, 0.1) !important;
}
input[type=submit].outline span,
a.button.outline span,
button.button.outline span {
  color: #444444 !important;
  margin-right: 22px !important;
}
input[type=submit].outline svg,
input[type=submit].outline img,
a.button.outline svg,
a.button.outline img,
button.button.outline svg,
button.button.outline img {
  height: 16px !important;
  width: auto !important;
}
input[type=submit].outline svg path,
a.button.outline svg path,
button.button.outline svg path {
  fill: #444444 !important;
}
input[type=submit].outline:hover,
a.button.outline:hover,
button.button.outline:hover {
  background: rgba(10, 26, 78, 0.05) !important;
  border: 1px solid rgba(10, 26, 78, 0.2) !important;
}
input[type=submit].btn-chevron svg,
input[type=submit].btn-chevron img,
a.button.btn-chevron svg,
a.button.btn-chevron img,
button.button.btn-chevron svg,
button.button.btn-chevron img {
  height: 11px !important;
}

.btn-link {
  padding: 5px 0px !important;
  grid-gap: 10px !important;
  border: none !important;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3) !important;
  background-color: transparent !important;
  width: -moz-max-content;
  width: max-content;
}
.btn-link:hover {
  border-bottom: 1px dashed rgb(0, 0, 0) !important;
  opacity: 0.6;
}
.btn-link span {
  color: #000000 !important;
}
@media (max-width: 1000px) {
  .btn-link span {
    font-size: 14px;
  }
}

body.modal-opened {
  overflow: hidden;
}

body.dark {
  color: white !important;
  fill: white !important;
  background-image: linear-gradient(0deg, rgba(4, 12, 37, 0.5), rgba(4, 12, 37, 0.5)), linear-gradient(0deg, #061133 0%, rgba(4, 12, 37, 0.5) 57.09%, rgba(4, 12, 37, 0.5) 87.26%, rgba(4, 12, 37, 0.8) 99.16%), url(../images/eoatoe/eoatoe-lg.jpg);
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
}
body.dark a {
  color: white !important;
  fill: white !important;
}
body.dark h1 {
  color: white !important;
  fill: white !important;
}
body.dark h2 {
  color: white !important;
  fill: white !important;
}
body.dark h3 {
  color: white !important;
  fill: white !important;
}
body.dark h4 {
  color: white !important;
  fill: white !important;
}
body.dark h5 {
  color: white !important;
  fill: white !important;
}
body.dark h6 {
  color: white !important;
  fill: white !important;
}
body.dark p {
  color: white !important;
  fill: white !important;
}
body.dark li {
  color: white !important;
  fill: white !important;
}
body.dark span {
  color: white !important;
  fill: white !important;
}
body.dark path {
  color: white !important;
  fill: white !important;
}
body.dark #social svg path {
  color: white !important;
  fill: white !important;
}
body.dark .harmburger .icon-bar {
  background: white !important;
}
body.dark #sidebar {
  background: black;
}
body.dark #sidebar #logo a {
  grid-template-columns: max-content max-content !important;
}
body.dark #navigation a {
  color: white;
}
body.dark #navigation p {
  color: white;
}
body.dark #navigation h3 {
  color: white;
}
body.dark #navigation.fixed-nav {
  background: transparent !important;
}
@media (max-width: 1000px) {
  body.dark #navigation.fixed-nav {
    background: linear-gradient(0deg, rgba(10, 26, 78, 0) 0%, rgba(10, 26, 78, 0.5) 25%, rgba(10, 26, 78, 0.7) 50%, rgba(10, 26, 78, 0.9) 100%) !important;
  }
}
body.dark .logo-name {
  color: #ffffff !important;
}
body.dark .logo-tagline {
  color: #FFD2BA !important;
}
body.dark .logo-icon {
  display: none;
}
body.dark #footer #social span {
  background-color: #ffffff;
}

body.container {
  display: grid;
  grid-row-gap: 50px;
  grid-template-rows: 50px 1fr;
  padding: 30px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}
body.container.bio {
  grid-template-rows: 82px max-content 1fr max-content;
  grid-row-gap: 50px;
}
@media (max-width: 1000px) {
  body.container.bio {
    grid-row-gap: 30px;
    grid-template-rows: 39px max-content 1fr max-content;
  }
}
@media (max-width: 1000px) {
  body.container {
    grid-row-gap: 30px;
  }
}

#sidebar {
  display: grid;
  grid-gap: 30px;
  grid-template-rows: max-content max-content max-content 1fr max-content;
  width: 100%;
  min-height: 100vh;
  background: #000000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 105px 30px 30px 30px;
  transform: translate(-100%, 0);
  transition: all 0.5s cubic-bezier(0.5, 0, 0, 1) !important;
  overflow: auto;
}
#sidebar #navigation {
  padding: 15px 30px;
  position: fixed;
  background-color: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
#sidebar #navigation #logo .logo-text .logo-name {
  color: #ffffff;
}
#sidebar #navigation #logo .logo-text .logo-tagline {
  color: rgba(255, 255, 255, 0.7);
}
#sidebar #navigation #logo .logo-icon {
  display: block;
}
#sidebar #navigation .harmburger {
  display: block;
}
#sidebar #navigation .harmburger .icon-bar {
  background-color: #ffffff;
}
#sidebar #navigation .harmburger svg path {
  fill: #ffffff;
}
#sidebar nav ul {
  display: grid;
  grid-gap: 30px;
}
#sidebar nav ul a {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  display: block;
  letter-spacing: -0.5px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  /* padding: 61% 0 0 0; */
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  /* background: url(../images/work/work.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#sidebar nav ul a span {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 20px;
  text-align: center;
  width: 100%;
  font-family: "Space Grotesk";
  font-size: 25px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.04em;
}
#sidebar nav ul a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
  z-index: 0;
}
#sidebar nav ul a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  top: 0;
  left: 0;
  z-index: 0;
}
#sidebar nav ul a:hover img {
  opacity: 0.5;
}
#sidebar nav ul li {
  position: relative;
}
#sidebar nav ul li.active a:before {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  right: 0;
  top: 50%;
}
#sidebar .btn-link {
  margin: 0 auto;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5) !important;
}
#sidebar .btn-link span {
  color: #ffffff !important;
}
#sidebar .btn-link svg path {
  fill: #ffffff !important;
}
#sidebar .btn-link:hover {
  opacity: 0.5 !important;
}
#sidebar #social ul {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-gap: 30px;
  justify-content: center;
}
#sidebar #social ul li {
  line-height: 0;
}
#sidebar #social ul li svg {
  height: 20px;
  width: auto;
}
#sidebar #social ul li svg path {
  fill: #ffffff;
}
#sidebar #social ul li a:hover img,
#sidebar #social ul li a:hover svg {
  opacity: 0.5 !important;
}
#sidebar .copyright {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 100%;
}

body.sidebar-opened {
  overflow: hidden;
}
body.sidebar-opened #sidebar {
  transform: none;
}
body.sidebar-opened #sidebar #logo .logo-text .logo-name {
  animation: slideInRight 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation-delay: 0.05s;
  opacity: 0;
}
body.sidebar-opened #sidebar #logo .logo-text .logo-tagline {
  animation: slideInRight 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation-delay: 0.1s;
  opacity: 0;
}
body.sidebar-opened #sidebar nav li {
  animation: slideIn 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  opacity: 0;
}
body.sidebar-opened #sidebar nav li:nth-child(1) {
  animation-delay: 0.2s;
}
body.sidebar-opened #sidebar nav li:nth-child(2) {
  animation-delay: 0.3s;
}
body.sidebar-opened .btn-link {
  animation: slideIn 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  opacity: 0;
  animation-delay: 0.4s;
}
body.sidebar-opened #social li {
  animation: slideIn 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  opacity: 0;
}
body.sidebar-opened #social li:nth-child(1) {
  animation-delay: 0.5s;
}
body.sidebar-opened #social li:nth-child(2) {
  animation-delay: 0.6s;
}
body.sidebar-opened #social li:nth-child(3) {
  animation-delay: 0.7s;
}
body.sidebar-opened .copyright {
  animation: slideIn 0.5s ease forwards;
  opacity: 0;
  animation-delay: 0.8s;
}

#sidebar-space {
  width: 100%;
  height: 30px;
}

#social svg path {
  fill: #444444;
}

#navigation {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 15px;
  align-items: center;
  padding: 30px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(10, 26, 78, 0.1);
  z-index: 2;
}
@media (max-width: 1000px) {
  #navigation {
    padding: 15px 30px;
  }
}
#navigation.fixed-nav {
  transform: translate(0px, -100%);
  display: none;
  opacity: 0;
  transform: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) !important;
}
@media (max-width: 1000px) {
  #navigation.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    background: white;
    z-index: 1;
  }
}
#navigation.fixed-nav.show {
  transform: none;
  display: grid;
  opacity: 1;
}
#navigation nav ul {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}
#navigation nav ul li {
  font-weight: 500;
}
#navigation nav a {
  padding: 30px 15px;
  transition: all 0.2s ease-in-out;
  color: #222222;
}
#navigation nav a:hover {
  opacity: 0.6;
}
#navigation nav a.btn-link {
  margin: 0px 15px !important;
}
#navigation nav a:last-child {
  margin: 0px 0px 0 15px !important;
}
#navigation nav a.with-icon {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 10px;
  align-items: center;
  display: grid;
}
#navigation nav a.with-icon svg path {
  fill: #222222;
}
#navigation nav a.with-icon svg,
#navigation nav a.with-icon img {
  height: 16px;
}
#navigation nav .active a {
  opacity: 0.6;
}

#logo a {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 15px;
  align-items: center;
}
#logo .logo-text {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 5px;
}
#logo .logo-icon {
  width: 65px;
  height: 65px;
}
#logo img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 5px 10px rgba(10, 26, 78, 0.15);
  border-radius: 100px;
}

.logo-name {
  font-family: "Space Grotesk";
  font-size: 30px;
  line-height: 1em;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: -0.04em;
  color: #000000;
}

.logo-tagline {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.7);
}

.harmburger {
  padding: 0px 0px 0px 12.5px;
  display: none;
  z-index: 2;
  grid-gap: 7px;
}
.harmburger .icon {
  display: grid;
  grid-gap: 7px;
}
.harmburger .icon .icon-bar {
  display: block;
  width: 35px;
  height: 1.5px;
  transition: all 0s cubic-bezier(0.7, 0, 0.3, 1) !important;
  background: #000000;
  text-align: center;
  margin: 0 auto;
}
.harmburger svg path {
  fill: #000000;
}

.harmburger.collapsed .icon {
  grid-gap: 0px;
}
.harmburger.collapsed .icon .icon-bar + .icon-bar {
  height: 0px;
}

#footer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  #footer {
    justify-self: center;
  }
}
@media (max-width: 1000px) {
  #footer #social {
    display: none;
  }
}
#footer #social ul {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 7.5px;
  justify-content: center;
}
#footer #social ul li {
  line-height: 0;
}
#footer #social ul li svg {
  height: 20px;
  width: auto;
}
#footer #social ul li svg path {
  fill: #000000;
}
#footer #social ul li:last-child a {
  padding-right: 0;
}
#footer #social ul li a {
  padding: 7.5px;
}
#footer #social ul li a:hover img,
#footer #social ul li a:hover svg {
  opacity: 0.5 !important;
}
#footer .copyright {
  color: #444444;
  justify-self: start;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

#space {
  width: 100%;
  height: 0px;
  background: transparent;
}
@media (max-width: 1000px) {
  #space {
    height: 0px;
  }
}

#work-hero {
  display: grid;
  grid-gap: 15px;
  padding: 100px 30px;
}
#work-hero .title {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
}
#work-hero .btn {
  margin: 0 auto;
}
@media (max-width: 1000px) {
  #work-hero {
    padding: 30px 0;
  }
  #work-hero .title {
    font-size: 25px;
    text-align: left;
  }
  #work-hero .btn {
    margin: 0;
  }
}

#works {
  display: grid;
  grid-gap: 50px;
}
@media (max-width: 1000px) {
  #works {
    grid-gap: 30px;
  }
}
#works .title {
  font-size: 45px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  font-family: "Space Grotesk";
  text-align: center;
}
@media (max-width: 1000px) {
  #works .title {
    font-size: 30px;
    text-align: left;
  }
}
#works .case-studies {
  display: grid;
  grid-gap: 30px;
  align-items: start;
  grid-auto-flow: column;
}
#works .case-studies .case-study {
  outline: 1px solid #cccccc;
  background-repeat: repeat;
  background-size: contain;
  display: grid;
  grid-gap: 30px;
  grid-auto-flow: column;
  align-items: center;
  place-content: center;
  padding: 50px 25px;
  position: relative;
  overflow: hidden;
}
#works .case-studies .case-study:nth-child(1) {
  background: url(../images/grundge.png), #FFE7E7;
}
#works .case-studies .case-study:nth-child(2) {
  background: url(../images/grundge.png), #FFF2E3;
}
#works .case-studies .case-study .cs-image {
  line-height: 0;
  overflow: hidden;
  position: absolute;
  cursor: zoom-in;
  right: 25px;
  bottom: -19px;
  z-index: 0;
  box-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.1);
  outline: 0.4px solid #dddddd;
}
#works .case-studies .case-study .cs-image::before {
  content: "";
  position: absolute;
  width: 0.14px;
  height: 100%;
  left: 1.5px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}
#works .case-studies .case-study .cs-image img {
  width: auto;
  height: 100px;
}
#works .case-studies .case-study .cs-text {
  display: grid;
  grid-gap: 10px;
  max-width: none;
  z-index: 1;
}
#works .case-studies .case-study .cs-text .category {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  display: block;
  line-height: 1;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
#works .case-studies .case-study .cs-text .title {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-align: left;
}
#works .case-studies .case-study .cs-text .description {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 0px;
  font-size: 14px;
}
#works .case-studies .case-study .cs-text .behance-link {
  padding: 0px;
  border-bottom: none !important;
}
#works .case-studies .case-study .cs-text .behance-link span {
  border-bottom: 1px dashed rgb(0, 0, 0) !important;
  padding: 3px 0px;
  font-size: 14px;
}
#works .case-studies .case-study .cs-text .behance-link svg {
  width: 18px;
  height: 18px;
}
#works .case-studies .case-study .cs-text .behance-link svg path {
  fill: #053EFF;
}
@media (min-width: 580px) {
  #works .case-studies .case-study {
    padding: 25px;
  }
  #works .case-studies .case-study .cs-image {
    overflow: visible;
    position: sticky;
  }
  #works .case-studies .case-study .cs-image::before {
    width: 0.7px;
    left: 4px;
  }
  #works .case-studies .case-study .cs-image img {
    height: auto;
    width: 150px;
  }
  #works .case-studies .case-study .cs-text {
    max-width: 300px;
  }
}
@media (max-width: 1100px) {
  #works .case-studies {
    grid-auto-flow: row;
    grid-gap: 10px;
  }
}

.designs {
  display: grid;
  grid-gap: 30px;
  align-items: start;
  grid-template-columns: repeat(3, 1fr) !important;
}
@media (max-width: 1000px) {
  .designs {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 10px;
  }
}
.designs .design {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  outline: 1px solid #cccccc;
  cursor: zoom-in;
}
.designs .design img {
  transition: all 0.5s cubic-bezier(0.5, 0, 0, 1) !important;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.designs .design:hover img {
  filter: brightness(0.5);
  transform: scale(1.1);
}
.designs .design.full-width {
  grid-column: 1/span 2;
}
@media (min-width: 1000px) {
  .designs .design.full-width {
    grid-column: 1/span 3;
  }
}

#bio-hero {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 50px;
  grid-template-columns: 600px 1fr;
  width: 100%;
}
@media (max-width: 1000px) {
  #bio-hero {
    grid-gap: 30px;
    grid-auto-flow: row;
    grid-template-columns: none;
  }
}
#bio-hero .image {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px;
  grid-auto-rows: max-content;
}
#bio-hero .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
#bio-hero .image h1 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  display: none;
}
@media (max-width: 1000px) {
  #bio-hero .image h1 {
    font-size: 13px;
    display: block;
  }
}
#bio-hero .text {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 30px;
  grid-auto-rows: max-content;
}
#bio-hero .text .head {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px;
}
#bio-hero .text .head h1 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  display: block;
}
#bio-hero .text .head h2 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: -0.03em;
}
@media (max-width: 1000px) {
  #bio-hero .text .head h1 {
    font-size: 14px;
    display: none;
  }
  #bio-hero .text .head h2 {
    font-size: 25px;
  }
}
#bio-hero .text .body {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px;
}
#bio-hero .text .body p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
}
#bio-hero .text .body p .btn-link {
  display: inline;
  padding: 0px 0px !important;
  color: #000000;
}

#error404-hero {
  padding: 100px 150px;
  border: 1px solid rgba(34, 34, 34, 0.2);
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 30px;
  justify-self: center;
  text-align: center;
}
@media (max-width: 1000px) {
  #error404-hero {
    padding: 100px 30px;
  }
}
#error404-hero .error404-text {
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 0px;
  place-self: center;
}
#error404-hero .error404-text h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 133px;
}
@media (max-width: 1000px) {
  #error404-hero .error404-text h1 {
    font-size: 75px;
    line-height: 100px;
  }
}
#error404-hero .error404-text p {
  font-size: 16px;
  line-height: 26px;
}
#error404-hero .btn-chevron {
  place-self: center;
}

@media (max-width: 1000px) {
  .harmburger {
    display: grid !important;
  }
  #navigation {
    grid-template-columns: 1fr auto !important;
  }
  #navigation nav {
    display: none !important;
  }
  #navigation .nav-space {
    display: none;
  }
  .logo-name {
    font-size: 20px !important;
  }
  .logo-tagline {
    font-size: 10px !important;
  }
  #logo .logo-icon {
    width: 50px !important;
    height: 50px !important;
  }
  body.dark #logo a {
    grid-template-columns: auto !important;
  }
  #footer {
    grid-template-columns: none !important;
    grid-auto-flow: row;
  }
  #footer #social {
    display: none;
  }
  #footer .copyright {
    justify-self: center;
  }
  .container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 15px;
  }
  p {
    font-size: 14px;
    line-height: 1.8;
  }
}/*# sourceMappingURL=styles.css.map */